In [4]:
# !pip install nsepy
# !pip install yfinance

In [5]:
import yfinance as yf
import pandas as pd
from data_name_lists import index, share_name, mutual_funds, fd_data

In [6]:
def get_data(stock_name):
    ticker_data = yf.Ticker(stock_name)
    historical_data = ticker_data.history(period='max')
    if len(historical_data) > 0:
        df = pd.DataFrame(historical_data)
        return df
    else:
        print(f"No data for {stock_name}")

In [7]:
# get_data('NIFTY_MIDCAP_100.NS')

# Indexs

In [8]:
for ind in index:
    print(ind)
    
    df = get_data(ind)
    print(len(df))

    file_name = '../Data/Index/' + ind.replace("^", "").replace(".NS", "") + '.csv'
    df.to_csv(file_name)
    
    print("----------------------------------------------------------------")

^NSEI
4263
----------------------------------------------------------------
^NSEBANK
3989
----------------------------------------------------------------
^CNXIT
3974
----------------------------------------------------------------
^BSESN
6799
----------------------------------------------------------------
NIFTY_MIDCAP_100.NS
4761
----------------------------------------------------------------
^CNXPSUBANK
3438
----------------------------------------------------------------
^CNXAUTO
3326
----------------------------------------------------------------
NIFTY_FIN_SERVICE.NS
3287
----------------------------------------------------------------

In [9]:
df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2011-09-07 00:00:00+05:30,4010.679932,4010.679932,4010.679932,4010.679932,0,0.0,0.0
2011-09-08 00:00:00+05:30,4018.360107,4018.360107,4018.360107,4018.360107,0,0.0,0.0
2011-09-09 00:00:00+05:30,4018.360107,4018.360107,4018.360107,4018.360107,0,0.0,0.0
2011-09-12 00:00:00+05:30,3942.520020,3942.520020,3942.520020,3942.520020,0,0.0,0.0
2011-09-13 00:00:00+05:30,3836.639893,3836.639893,3836.639893,3836.639893,0,0.0,0.0

# Stocks

In [10]:
# for share in share_name:
#     print(share)
    
#     df = get_data(share)
#     print(len(df))

#     file_name = '../Data/Stocks/' + share.replace(".NS", "") + '.csv'
#     df.to_csv(file_name)
    
#     print("----------------------------------------------------------------")

# Mutual Fund Data

In [11]:
for mutual_fund in mutual_funds:
    print(mutual_fund)

    df = get_data(mutual_fund)
    print(len(df))

    file_name = '../Data/Mutual Funds/' + mutual_fund.replace(".NS", "").replace(".BO", "") + '.csv'
    df.to_csv(file_name)

    print("----------------------------------------------------------------")

0P00005WL6.BO
1744
----------------------------------------------------------------
UTINEXT50.BO
1853
----------------------------------------------------------------
0P0000MLHH.BO
1744
----------------------------------------------------------------
0P0000KV39.BO
1744
----------------------------------------------------------------
0P00009J3K.BO
1656
----------------------------------------------------------------
0P0001BAB5.BO
1744
----------------------------------------------------------------
0P0001EI18.BO
1744
----------------------------------------------------------------
0P0001BA1R.BO
1744
----------------------------------------------------------------
0P00005WEY.BO
1744
----------------------------------------------------------------
0P0000XUXL.BO
1714
----------------------------------------------------------------
0P0000XUYZ.BO
1714
----------------------------------------------------------------
0P0000XW8D.BO
1714
----------------------------------------------------------------
0P0000XVER.BO
1751
----------------------------------------------------------------
0P0000XUYS.BO
1744
----------------------------------------------------------------
0P0000XW7I.BO
1744
----------------------------------------------------------------
0P0000U3OG.BO
1715
----------------------------------------------------------------
SETFGOLD.NS
3876
----------------------------------------------------------------
BSLGOLDETF.NS
3015
----------------------------------------------------------------

# F.D. Returns

In [12]:
df = pd.DataFrame(fd_data)
df

,Bank Name,Return Rate for Adults (%),Return Rate for Senior Citizens (%)
0,ICICI Bank,6.70,7.20
1,HDFC Bank,6.60,7.10
2,Axis Bank,6.70,7.20
3,Bank of Baroda,6.85,7.35
4,State Bank of India,6.80,7.30
5,Bank Of India,6.80,7.30
6,Equitas small finance bank,7.00,7.20
7,AU small finance bank,7.25,7.75

In [13]:
df.to_csv('../Data/FD_Returns.csv', index=False)